<div class="row">
  <div class="col-1">
    <strong><%= t('first_name', scope: 'users') %>:</strong>
  </div>
  <div class="col">
    <%= user.first_name %>
  </div>
</div>

<div class="row">
  <div class="col-1">
    <strong><%= t('last_name', scope: 'users') %>:</strong>
  </div>
  <div class="col">
    <%= user.last_name %>
  </div>
</div>
