<h1 class="text-center mb-5">
  <%= t('titles.new_user') %>
</h1>

<%= render "form", user: @user %>

<br>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <%= link_to t('actions.all'), users_path, class: 'btn btn-sm btn-outline-dark my-3' %>
</div>
